.productPage {
  display: grid;
  grid-template-columns: 340px 340px 340px 340px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media (max-width: 1384px) {
  .productPage {
    grid-template-columns: 340px 340px 340px;
  }
}
@media (max-width: 1040px) {
  .productPage {
    grid-template-columns: 340px 340px;
  }
}
@media (max-width: 720px) {
  .productPage {
    grid-template-columns: 340px;
  }
}
@media (max-width: 420px) {
  .productPage {
    display: block;
    width: 100%;
  }
}
