* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ol,
ul {
  list-style-type: none;
}
a {
  color: #000000;
  text-decoration: none;
}
:root {
  --light-color: #ffffff;
  --dark-color: #000000;
  --gray-color: #4d4d4d;
  --lightgray-color: #eee;
  --primary-color: #5334ff;
}

.textColor {
  color: var(--dark-color);
}

.mt20 {
  margin: 20px;
}
.textCenter {
  text-align: center;
}
.dark {
  --light-color: #000000;
  --dark-color: #ffffff;
  --gray-color: #666666;
  --lightgray-color: #eee;
  --primary-color: #5334ff;
}
@media (prefers-color-scheme: dark) {
  :root {
    --light-color: #000000;
    --dark-color: #ffffff;
    --gray-color: #666666;
    --lightgray-color: #eee;
    --primary-color: #5334ff;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --light-color: #ffffff;
    --dark-color: #000000;
    --gray-color: #4d4d4d;
    --lightgray-color: #eee;
    --primary-color: #5334ff;
  }
}
body {
  background: var(--light-color);
}
