.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1500px;
  margin: 0 auto;
  &Logo {
    color: var(--dark-color);
    font-size: 30px;
    letter-spacing: 7px;
  }
  &List {
    display: flex;
    align-items: center;
    gap: 30px;
    &El {
      font-size: 18px;
      font-weight: 500;
      transition: 0.5s;
      & > a {
        color: var(--dark-color);
      }
      &::before {
        position: absolute;
        content: "";
        bottom: -4px;
        left: 0;
        background-color: var(--dark-color);
        height: 2px;
        width: 0%;
        transition: 0.5s;
      }
      &:hover {
        position: relative;
        transform: scale(1.1);
        &::before {
          width: 100%;
        }
      }
    }
  }
}
